@mixin PS2P { //@include headingCopy;
    font-family: 'Press Start 2P', 'Consolas', sans-serif;
}
@mixin OpenSans { //@include headingCopy;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}
@mixin RobotoSlab { //@include headingCopy;
    font-family: 'Roboto Slab', 'Consolas', sans-serif;
}
/*██████████ HEADINGS ██████████*/
h1, h2, h3, h4 {
    color: $green;
    text-align: center;
}
h1 {
    @include PS2P;
    font-size: 45px;
    z-index: 5;
}
h2 {
    font-size: 30px;
    line-height: .9;
    margin-bottom: 60px;
    @include RobotoSlab;
}
h3 {
    font-size: 20px;
    margin-bottom: 10px;
    @include RobotoSlab;
    text-transform: uppercase;
    margin-bottom: 15px;
}
h4 {
    font-size: 20px;
    text-align: left;
}
h5 {
    font-size: 12px;
    color: $white;
}
/*██████████ BODY COPY ██████████*/
body {
    color: $white;
    @include OpenSans;
    font-weight: 300;
}
p {
    line-height: 1.6;
}
::selection {
        background: $green;
        color: $black;
    }
/*██████████ LINKS ██████████*/
a {
    text-decoration: none;
    color: $white;
    transition: all .2s ease-in-out;
    &:hover {
        color: $green;
        transition: all .2s ease-in-out;
    }
}